<!-- 
This file is part of SOMHunter.

Copyright (C) 2020 František Mejzlík <frankmejzlik@gmail.com>
                   Mirek Kratochvil <exa.exa@gmail.com>
                   Patrik Veselý <prtrikvesely@gmail.com>

SOMHunter is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free
Software Foundation, either version 2 of the License, or (at your option)
any later version.

SOMHunter is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
SOMHunter. If not, see <https://www.gnu.org/licenses/>.
-->
<script>
  let vd = {};
  vd.somhunter = <%- JSON.stringify(somhunter) %>;
  let pageId = 0;
  let lastPageTime = 0;
  let pageLoadSpan = 1500;
  let ignoreNextLike = false;
  let working = false;


  function showNextTopDisplay(id, thisFilename) {
    pageId++;
    let url = "/get_top_screen?pageId=" + pageId + "&type=" + vd.somhunter.screen.type + "&frameId=" + vd.somhunter.frameContext.frameId
    // Make the request
    fetch(url, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => {
        if (!res.ok) { throw Error(res.statusText); }
        return res.json()
      })
      .then((data) => {
        // Handle error
        if (data.error) {
          throw Error(data.error.message);
        }

        // Get updated view data
        oldLength = vd.somhunter.screen.frames.length;
        vd.somhunter.screen.frames = vd.somhunter.screen.frames.concat(data.viewData.somhunter.screen.frames);
        appendImageGrid(vd, oldLength);

      })
      .catch((e) => {
        pageId--;
        console.log("Error: " + JSON.stringify(e.message));
        showGlobalMessage(
          "Request failed!",
          JSON.stringify(e.message),
          5000,
          "e"
        );
      });
  }

  function showTopDisplay(type, id, thisFilename) {
    pageId = 0;
    if (type === undefined)
      type = "topn"
    let url = "/get_top_screen?pageId=" + pageId + "&type=" + type
    if (id !== undefined)
      url += "&frameId=" + id
    // Make the request
    fetch(url, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => {
        if (!res.ok) { throw Error(res.statusText); }
        return res.json()
      })
      .then((data) => {
        // Handle error
        if (data.error) {
          throw Error(data.error.message);
        }

        // Get updated view data
        viewData = data.viewData;
        putDocumentToState(viewData);

        endWorking();
      })
      .catch((e) => {
        console.log("Error: " + JSON.stringify(e.message));
        endWorking();
        showGlobalMessage(
          "Request failed!",
          JSON.stringify(e.message),
          5000,
          "e"
        );
      });
  }

  function startWorking() {
    if (working) {
      console.log("Working! Ignoring request.");
      return false;
    }
    working = true;

    showGlobalMessage(
      "Working... Ignoring all inputs...",
      "",
      120000,
    );
    return true;
  }

  function endWorking(closePopUp = true) {
    working = false;
    if (closePopUp)
      clearGlobalMesssage();
  }

  var forceSOMDone = true;

  function likesCount() {
    return document.getElementsByClassName("liked").length;
  }

  function rescoreAndShowNextDisplay() {
    if(likesCount() != 3)
    {
      showGlobalMessage(
        "Požadavek neúspěšný: Vyberte prosím právě tři lajky",
        "",
        3000,
      );
      return;
    }
    if (vd.somhunter.reformulations >= 5) {
      alert("Již jste změnili textový dotaz " + vd.somhunter.reformulations + " krát. " + 
            "Nechcete začít hledat pomocí \"lajků\"?");
    }
    if (startWorking()) {
      const elem = document.getElementById("frameGrid");
      elem.classList.remove("som-grid");
      elem.innerHTML = "";
      rescore();
    }
  }
  
  function showPreviousHistogram() {
    pageId = 0;
    // Make the request
    fetch("/get_previous_screen", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => {
        if (!res.ok) { throw Error(res.statusText); }
        return res.json()
      })
      .then((data) => {
        // Handle error

        if (data.error) {
          throw Error(data.error.message);
        }

        // Get updated view data
        viewData = data.viewData;
        plotPreviousHistogram(viewData);

      })
      .catch((e) => {
        console.log("Error: " + JSON.stringify(e.message));
        showGlobalMessage(
          "Request failed!",
          JSON.stringify(e.message),
          5000,
          "e"
        );
      });
    $('#modalHistogram').foundation('open');
  }

  function showPreviousDisplay() {
    pageId = 0;
    // Make the request
    fetch("/get_previous_screen", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => {
        if (!res.ok) { throw Error(res.statusText); }
        return res.json()
      })
      .then((data) => {
        // Handle error

        if (data.error) {
          throw Error(data.error.message);
        }

        // Get updated view data
        viewData = data.viewData;
        populatePreviousDisplay(viewData);

      })
      .catch((e) => {
        console.log("Error: " + JSON.stringify(e.message));
        showGlobalMessage(
          "Request failed!",
          JSON.stringify(e.message),
          5000,
          "e"
        );
      });
    $('#modalDetail').foundation('open');
  }

  function forceShowSomDisplay() {
    if (forceSOMDone)
      return;
    pageId = 0;
    // Make the request
    fetch("/get_som_screen", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => {
        if (!res.ok) { throw Error(res.statusText); }
        return res.json()
      })
      .then((data) => {
        // Handle error
        if (data.error) { throw Error(data.error.message); }

        if (forceSOMDone)
          return;

        forceSOMDone = true;
        console.log("Loaded SOM");
        // Get updated view data
        viewData = data.viewData;
        putDocumentToState(viewData);
        endWorking();
      })
      .catch((e) => {
        if ('SOM not yet ready.' !== e.message) {
          console.log(e);
          console.log(e.message);
          endWorking();
        } else {
          setTimeout(forceShowSomDisplay, 1000);
        }
      });
  }

  function showSomDisplay(id, thisFilename) {
    pageId = 0;
    // Make the request
    fetch("/get_som_screen", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => {
        if (!res.ok) { throw Error(res.statusText); }
        return res.json()
      })
      .then((data) => {
        // Handle error
        if (data.error) {
          throw Error(data.error.message);
        }

        // Get updated view data
        viewData = data.viewData;
        putDocumentToState(viewData);

      })
      .catch((e) => {
        console.log("Error: " + JSON.stringify(e.message));
        endWorking();
        showGlobalMessage(
          "Request failed!",
          JSON.stringify(e.message),
          5000,
          "e"
        );
      });
  }
  function plotPreviousHistogram(screenData) {

    var chartContent = document.getElementById('chartContent');
    chartContent.innerHTML = '&nbsp;';
    $('#chartContent').append('<canvas id="histogram" width="400" height="200%"></canvas>');

    const ctx = document.getElementById('histogram').getContext('2d');

    histogram_labels = Array.from({ length: 100 }, (_, i) => i + 1);
    histogram_data = [];
    for (var i = 0; i < screenData.histogram.length; i++) {
      histogram_data[i] = screenData.histogram[i].histogram;
    }
    const chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: histogram_labels,
        datasets: [{
          label: 'Count',
          data: histogram_data,
          backgroundColor: 'green',
        }]
      },
      options: {
        scales: {
          xAxes: [{
            display: false,
          }, {
            display: true,
            ticks: {
              autoSkip: false,
            }
          }],
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  }

  function populatePreviousDisplay(screenData) {
    const grid = document.getElementById("videoDetailFrameGrid");
    const targetGrid = document.getElementById("targetFrameGrid");
    const frames = screenData.frames;

    $(grid).empty();
    $(targetGrid).empty();

    // Iterate over all the frames
    for (let i = 0; i < frames.length; ++i) {
      let likedStr = "";
      if (frames[i].liked) {
        likedStr = "liked";
      }

      let e = getThumbPrototype(likedStr,
        frames[i].id,
        frames[i].src,
        frames[i].vId);


      let span0 = document.createElement("span");
      {
        span0.className = "frame-id";
        span0.innerText = frames[i].vidId;
      }
      let p1 = document.createElement("p");
      {
        p1.innerText = screenData.distances[i].distance;
        p1.className = "previous-screen-frame";

      }
      let li = document.createElement("li");
      {
        li.className = `frame-in-grid small-6 medium-4 large-2 cell ${likedStr}`;
        li.style.backgroundImage = `url('${frames[i].src}')`;
        li.style["background-size"] = "100% 100%";
        li.dataset.frameId = frames[i].id;
      }
      li.appendChild(span0);
      li.appendChild(p1);

      let frag = document.createDocumentFragment();
      frag.appendChild(li);


      grid.appendChild(li);

    }

    let target_li = document.createElement("li");
    {
      target_li.className = `frame-in-grid small-6 medium-4 large-2 cell`;
      target_li.style.backgroundImage = `url('${screenData.targetPath.src}')`;
      target_li.dataset.frameId = screenData.targetPath.id;
    }
    targetGrid.appendChild(target_li)

  }

  function showVideoDetail(id, thisFilename) {
    pageId = 0;
    // Make the request
    fetch("/get_frame_detail_data?frameId=" + id, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => {
        if (!res.ok) { throw Error(res.statusText); }
        return res.json()
      })
      .then((data) => {
        // Handle error
        if (data.error) {
          throw Error(data.error.message);
        }

        ignoreNextLike = true;
        // Get modal data
        putDetailModelToState(data);
      })
      .catch((e) => {
        console.log("Error: " + JSON.stringify(e.message));
        endWorking();
        showGlobalMessage(
          "Request failed!",
          JSON.stringify(e.message),
          5000,
          "e"
        );
      });
  }

  function rescore(callback) {

    // Get current queries
    const q0 = document.getElementById("textQueryInput0").value;
    const q1 = document.getElementById("textQueryInput1").value;

    // Request input data
    const reqData = {
      q0: q0,
      q1: q1,
    };

    // Make the request
    fetch("rescore", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(reqData),
    })
      .then((res) => {
        if (!res.ok) { throw Error(res.statusText); }
        return res.json()
      })
      .then((data) => {
        // Handle error
        if (data.error) {
          throw Error(data.error.message);
        }

        // Now request new display
        //showTopDisplay();

        //showGlobalMessage(`Rescored.`, "", 2000,"s"); 
        vd.somhunter = data.viewData.somhunter;
        updateLimitations();
        updateRescoreButton();
        if (typeof callback === 'function')
          callback();
      })
      .catch((e) => {
        console.log("Error: " + JSON.stringify(e.message));
        showGlobalMessage(
          "Request failed!",
          JSON.stringify(e.message),
          5000,
          "e"
        );
      });
  }

  function like(el, frameId) {
    if (ignoreNextLike) {
      ignoreNextLike = false;
      return;
    }

    // Stopping reformulation, starting feedbacking
    document.getElementById("textQueryInput0").disabled = true;

    // Request input data
    const reqData = {
      frameId: frameId,
    };

    let url = "/like_frame";
    // If unlike
    if (el.classList.contains("liked")) {
      url = "/unlike_frame";
    }

    // Make the request
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(reqData),
    })
      .then((res) => {
        if (!res.ok) { throw Error(res.statusText); }
        return res.json()
      })
      .then((data) => {
        // Handle error
        if (data.error) {
          throw Error(data.error.message);
        }

        if (data.isLiked) {
          el.classList.add("liked");
        } else {
          el.classList.remove("liked");
        }

      })
      .catch((e) => {
        console.log("Error: " + JSON.stringify(e.message));
        endWorking();
        showGlobalMessage(
          "Request failed!",
          JSON.stringify(e.message),
          5000,
          "e"
        );
      });
  }

  const hideSubmitWindow = 3000;
  const levelStep = 20;
  var subWindowTick = 0;
  var level = 1;
  var experiences = 0;
  var found = false;

  function updateLevelView() {
    $('#panelExp').html(experiences);
    $('#panelLevel').html(level);
    $('#panelNextExp').html(level * levelStep);
  }

  function showSubmitWindow(data, show = true) {
    const frame = data.correctFrame;
    const shot = data.correctShot;
    const video = data.correctVideo;
    const correctTick = '<div style="color: green;">✓</div>'
    const wrongTick = '<div style="color: red;">✗</div>'
    var areStats = false;

    subWindowTick++;
    $cont = $("#submitCont");

    // Result table
    if (frame) {
      $("#divSubmitHeader").html("Tak to je paráda! Našel si přesně ten hledaný obrázek, pokračuj na další hledání.");
    }
    /*else if (shot || video) {
      $("#divSubmitHeader").html("Skvělá práce, zkus najít i přesný hledaný snímek, jsou za něj extra body!");
    }*/
    else {
      $("#divSubmitHeader").html("Tohle bohužel není hledaný obrázek, zkus to znovu :)");
    }
    $("#divCorrectFrame").html(frame ? correctTick : wrongTick);
    //$("#divCorrectShot").html(shot ? correctTick : wrongTick);
    //$("#divCorrectVideo").html(video ? correctTick : wrongTick);

    // Update exps
    experiences = data.points.reduce((a, b) => a + b);

    // Update stats
    $stats = $("#divSubmitStats");

    // Update level
    if (experiences >= (level * levelStep)) {
      level = Math.floor(experiences / levelStep) + 1;
      areStats = true;

      const frameF = (100 * data.frameOn.map(e => e < 100 ? 1 : 0).reduce((a, b) => a + b) / (data.frameOn.length)).toFixed(2);

      if (show)
        $stats.css('display', 'block');
      $('#divVideosFound').html(frameF);
      $('#divAvgDisp').html((data.frameOn.map(e => e < 100 ? e : 0).reduce((a, b) => a + b) /
        data.frameOn.map(e => e < 100 ? 1 : 0).reduce((a, b) => a + b)).toFixed(2));


      if (videoF > 70) {
        $('#divSubmitComment').html('⭐WOW!⭐ Koukám, že tu máme hledače z první ligy!');
      } else if (videoF > 50) {
        $('#divSubmitComment').html('Vedeš si výborně! Ale je tu ještě prostor pro zlepšení. 🚀');
      } else if (videoF > 30) {
        $('#divSubmitComment').html('To není vůbec špatné. Ale vsadím se, že to zvládneš lépe.');
      } else if (videoF > 10) {
        $('#divSubmitComment').html('No, není to žádná sláva, ale ty se určitě zlepšíš!');
      } else {
        $('#divSubmitComment').html('Chce to ještě trochu cviku. Dobrá zpráva je, že můžeš už být jen lepší. 🙂');
      }

    } else {
      $stats.css('display', 'none');
    }

    updateLevelView();

    // Footer
    $primary = $("#divSubmitFooter");
    var ihtml = "";

    if (frame) {
      ihtml += '<br/><div class="small-6 cell"><a class="button block-btn new-seach-btn" onclick="closeSubmitWindow();resetSearchSession()">Nové hledání</a></div>'
    } else if (!areStats) {
      ihtml += '<div id="submit-progress">  <div id="submit-bar"></div> </div>'
    }

    $primary.html(ihtml);
    if (show)
      $cont.css('display', 'block');

    // Progress bar
    $bar = $("#submit-bar");
    $bar.removeClass();
    $bar.addClass("submit-bar-complete");

    if (!frame && !areStats) {
      setTimeout(closeSubmitWindow, hideSubmitWindow, subWindowTick);
    }
  }

  function closeSubmitWindow(tick) {
    if (tick == undefined || subWindowTick == tick) {
      console.log("Closing submit window");
      $cont = $("#submitCont");
      $primary = $($cont.children(".primary")[0]);
      $primary.html("");
      $cont.css('display', 'none');
    }
  }

  function submitImage(frameId) {
    if (startWorking()) {
      // Request input data
      const reqData = {
        frameId: frameId,
      };

      // Make the request
      fetch("/submit_frame", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(reqData),
      })
        .then((res) => {
          if (!res.ok) { throw Error(res.statusText); }
          return res.json()
        })
        .then((data) => {
          // Handle error
          if (data.error) {
            throw Error(data.error.message);
          }

          console.log(data)

          endWorking();
          showSubmitWindow(data);
        })
        .catch((e) => {
          console.log("Error: " + JSON.stringify(e.message));
          endWorking();
          showGlobalMessage(
            "Request failed!",
            JSON.stringify(e.message),
            5000,
            "e"
          );
        });
    }
  }

  function reportIssue() {
    if (startWorking()) {

      // Make the request
      fetch("/report_issue", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({}),
      })
        .then((res) => {
          if (!res.ok) { throw Error(res.statusText); }
          return res.json()
        })
        .then((data) => {
          // Handle error
          if (data.error) {
            throw Error(data.error.message);
          }
          endWorking();
        })
        .catch((e) => {
          console.log("Error: " + JSON.stringify(e.message));
          endWorking();
          showGlobalMessage(
            "Request failed!",
            JSON.stringify(e.message),
            5000,
            "e"
          );
        });
    }
  }

  function resetSearchSession() {
    if (startWorking()) {
      pageId = 0;
      // Request input data
      const reqData = {};

      // Make the request
      fetch("/reset_search_session", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(reqData),
      })
        .then((res) => {
          if (!res.ok) { throw Error(res.statusText); }
          return res.json()
        })
        .then((data) => {
          // Handle error
          if (data.error) {
            throw Error(data.error.message);
          }

          // Get updated view data
          vd.somhunter = data.viewData.somhunter;
          updateRescoreButton();
          updateTargetImage();
          found = false;
          document.getElementById("textQueryInput0").disabled = false;
          document.getElementById("resetButton").style.display = 'none';
          document.getElementById("rescore-btn").style.display = 'block';
          document.getElementById("rescore-holder").style.display = 'none';
        })
        .catch((e) => {
          console.log("Error: " + JSON.stringify(e.message));
          endWorking();
          showGlobalMessage(
            "Request failed!",
            JSON.stringify(e.message),
            5000
          );
        });
    }
  }

  function updateRescoreButton() {
    // Now request new display and disable others
    if (vd.somhunter.display_available == "topn") {
      showTopDisplay();
    } else {
      forceSOMDone = false;
      forceShowSomDisplay();
    }
  }

  function updateLimitations() {
    // Now request new display and disable others
    if (vd.somhunter.feedbacks > 0) {
      document.getElementById("textQueryInput0").disabled = true;
    }
    if (vd.somhunter.feedbacks >= 9) {
      document.getElementById("resetButton").style.display = 'block';
      document.getElementById("rescore-btn").style.display = 'none';
      document.getElementById("rescore-holder").style.display = 'block';
      // TODO maybe show a pop up window that the search of this
      // target ends here and they should go to the next one
    }
  }

  function setupImageGrid(viewData) {

    const elem = document.getElementById("frameGrid");
    const frames = viewData.somhunter.screen.frames;

    elem.classList.remove("topn-grid");
    elem.classList.remove("som-grid");

    /*
    if (viewData.somhunter.screen.type == "som")
    {
      elem.classList.add("som-grid");
    } else {
      elem.classList.add("topn-grid");
    }*/
    elem.classList.add("som-grid");

    let elemHtml = "";
    // Iterate over all the frames
    for (let i = 0; i < frames.length; ++i) {

      if (frames[i].id == null) {
        elemHtml += getNoThumbPrototype(frames[i].src);
        continue;
      }

      let likedStr = "";
      let actionStr = `like(this, ${frames[i].id})`;
      if (frames[i].liked) {
        likedStr = "liked";
        actionStr = `like(this, ${frames[i].id})`;
      }

      elemHtml += getThumbPrototype(likedStr, actionStr, frames[i].id, frames[i].src);
    }

    elem.innerHTML = elemHtml;
  }

  function appendImageGrid(viewData, fromIndex) {

    const elem = document.getElementById("frameGrid");
    const frames = viewData.somhunter.screen.frames;

    let elemHtml = elem.innerHTML;
    // Iterate over all the frames
    for (let i = fromIndex; i < frames.length; ++i) {

      if (frames[i].id == null) {
        elemHtml += getNoThumbPrototype(frames[i].src);
        continue;
      }

      let likedStr = "";
      let actionStr = `like(this, ${frames[i].id})`;
      if (frames[i].liked) {
        likedStr = "liked";
        actionStr = `like(this, ${frames[i].id})`;
      }

      elemHtml += getThumbPrototype(likedStr, actionStr, frames[i].id, frames[i].src);
    }

    elem.innerHTML = elemHtml;
  }

  function getNoThumbPrototype(src) {
    return `<li 
      class="no-frame frame-in-grid small-6 medium-4 large-2 cell
      style="background-image: url('${src}')"
    >
      <div class="just-clicker">
      </div>
    </li>`;
  }

  function getThumbPrototype(likedStr, actionStr, id, src) {
    return `<li 
      class="frame-in-grid small-6 medium-4 large-2 cell
      ${likedStr}" 
      onclick="${actionStr}" 
      data-frame-id="${id}"
      style="background-image: url('${src}'); background-size: 100% 100%;"
    >
      <div class="just-clicker">
        <a 
          class="button frame-in-grid-hover-btn submit-frame" 
          onclick="submitImage(${id});event.cancelBubble=true;" 
          title="Submit this frame.">
          S
        </a>
      </div>
    </li>`;
  }

  function setupQueryInputs(viewData) {
    const q0 = viewData.somhunter.textQueries.q0.value;
    const q1 = viewData.somhunter.textQueries.q1.value;

    elIn0 = document.getElementById("textQueryInput0");
    elIn1 = document.getElementById("textQueryInput1");

    elIn0.value = q0
    elIn1.value = q1
  }

  function updateTargetImage() {
    fetch("/get_target", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => {
        if (!res.ok) { throw Error(res.statusText); }
        return res.json()
      })
      .then((data) => {

        document.getElementById("target_img").src = data;

      })
      .catch((e) => {
        console.log("Error: " + JSON.stringify(e.message));
        showGlobalMessage(
          "Request failed!",
          JSON.stringify(e.message),
          5000,
          "e"
        );
      });
  }

  function updateLevelInfo() {
    // Make the request
    fetch("/get_level_info", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => {
        if (!res.ok) { throw Error(res.statusText); }
        return res.json()
      })
      .then((data) => {
        // Handle error
        if (data.error) {
          throw Error(data.error.message);
        }

        console.log(data)

        // Updates level
        showSubmitWindow(data, false);
      })
      .catch((e) => {
        console.log("Error: " + JSON.stringify(e.message));
        endWorking();
        showGlobalMessage(
          "Request failed!",
          JSON.stringify(e.message),
          5000,
          "e"
        );
      });
  }

  let isDebug = false;

  function toggleDebug() {
    isDebug = !isDebug;
    if (isDebug) {
      document.getElementById('prev-disp-div').style.display = "block";
    } else {
      document.getElementById('prev-disp-div').style.display = "none";
    }
  }

  /**
   * This controls infinite scrolling.
   */
  var grid = document.getElementById("frameGridWrapper");

  function infiniteScroll() {
    // add more contents if user scrolled down enough and last
    // page was loaded a second before
    if (grid.scrollTop + 300 > grid.scrollTopMax && Date.now() > (lastPageTime + pageLoadSpan)) {
      lastPageTime = Date.now();
      if (vd.somhunter.screen.type == "topn" || vd.somhunter.screen.type == "topknn") {
        showNextTopDisplay();
      }
    }
  }

  grid.addEventListener("scroll", infiniteScroll, false);

  /**
   * This function modifies current page HTML according to state data.
   */
  function putDocumentToState(viewData) {

    // -----------------------------
    // Manage image grid
    setupImageGrid(viewData);

    // -----------------------------
    // Setup query inputs
    setupQueryInputs(viewData);

    // Scroll to the top
    $('#frameGridWrapper').animate({
      scrollTop: $("#offCanvasLeftSplit1").offset().top
    }, 500);

    // -----------------------------
    // Set state
    vd = viewData;
  }

  /** Put document into correct state */
  onDocumentReady(function () {
    startWorking()
    putDocumentToState(vd);
    updateTargetImage();
    updateLevelInfo();
    updateRescoreButton();
    updateLevelView();
    updateLimitations();

    $(window).bind('mousewheel DOMMouseScroll', function (event) {
      if (event.shiftKey) {
        if (event.originalEvent.wheelDelta > 0 || event.originalEvent.detail < 0) {
          // scroll up
          console.log("playing the video back ...");
        }
        else {
          // scroll down
          console.log("playing the video forward...");
        }
      }
    });


    document.getElementById("modalAc").style.display = 'block';
  });

</script>